* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    margin: 0 auto;
    background-color: #86b300;
    padding: 10px;
    border-bottom: 1px solid #999999;
}

h1 {
    margin: 0;
    font-weight: lighter;
    font-size: 1.875em;
    text-align: center;
    color: #1a1a1a;
}

.raisedTitle {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.donationInfo {
    min-width: 400px;
    max-width: 600px;
    height: 100px;
    margin: 25px auto;
    padding: 32px;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 2px solid #86b300;
    background: #e6ffcc;
    -webkit-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
}

#progressBar {
    width: 400px;
    height: 22px;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 1px solid #666666;
    background-color: #666666;
}

#total {
    background-color: #0099ff;
    height: 100%;
    padding-right: 10px; 
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    overflow: hidden;
}

#gofundme {
    position: relative;
    top: -22px;
    left: 0;
    height: 100%;
    padding-right: 10px; 
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0px;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 0px solid #000000;
    background: #ffa31a;
    overflow: hidden;
}

.donationInfo img {
    position: relative;
    top: -22px;
    left: 410px;
    width: 22px;
    height: auto;
}

#planePrice {
    visibility: hidden;
    position: relative;
    top: -70px;
    left: 440px;
    padding: 10px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #86b300;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
    background: #cce5ff;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #86b300;
    height: 40px;
    width: 100%;
    padding: 10px;
}
